body{
margin:0;
font-family: 'inter', sans-serif;
}

.container{
font-family: 'poppins', sans-serif;
min-height:120vh;
display: flex;
align-items: center;
justify-content:center ;
background: linear-gradient(135deg, #ff4d6d ,#ffb347);
}

.card{
background:#fff ;
padding: 50px;
width: 600px; 
border-radius:16px ;          
box-shadow:0 20px 40px rgba(0, 0, 0, 0.15);    
}

.container h2{
margin: 0;
margin-bottom: 6px;
}

.subtitle{
font-size: 14px;
color:#777 ;
margin-bottom: 30px;
}

.row{
display:flex;
gap: 44px;
margin-bottom: 30px;
}

input,textarea{
   width: 100%;
    padding: 10px 14px;
   border-radius:18px ;
border: none;
background:#f4f4f4 ;
font-size: 14px;
outline:none ;
}

textarea{
 resize: none;
height: 90px;
margin-bottom: 20px;
}

input:focus,
textarea:focus{
   background:#eee 
}

button{
background: #ff4d6d;
color:white ;
border: none;
padding: 12px 28px;
border-radius:999px ;
font-size:14px ;
cursor: pointer;
transition:tranform 0.2s,box-shadow 0.2s ;
}

button:hover{
transform:translateY(-2px) ;
box-shadow:0 10px 20px rgba(255, 77, 109, 0.4) ;
}
